<h2> Lista de productos </h2>

<div id="listContainer">
    {{#each products}}
        <div class="product" style='display:flex;gap:1rem;align-items:center;'>
            <h3>{{tittle}}</h3>
            <p>Description: {{description}}</p>
            <p>id:{{id}} </p>
            <p>Price: {{price}} </p>
            <p>code: {{code}} </p>
            <p>Stock: {{stock}} </p>
            <p>Status: {{status}}</p>
            <p>Category: {{category}}</p>
        </div>
    {{/each}}
</div>
